.project{
    padding: 1%;
    border-radius: 20px;
    background-color: #61677A;
    color: white;
    margin: 20px;
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

.projectImg img{
    height: 100%;
    width: 100%;
    border-radius: 18px;
}

.projectTitle{
    color:gold;
    font-size: 7vmin;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.githubLink{
    cursor: pointer;
    font-family: monospace;
}

.githubLink:hover{
    color: blue;
}

.projectData{
    text-align: left;
    padding-left: 20px;
}